.app h3 {
   text-align: center;
} 

.numberList {

}

.listItem {
    list-style:none ;
    display: inline;
    margin-left: 10px;
    background-color: cadetblue;
    padding: 10px;
}

.listItem:hover {
    background-color: brown;
    cursor: pointer;
}